

<div>
    <div class="table-responsive">
            <form method="post" action="/homepage">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th>Username: </th>
                    <td><input type="text" name="username" required placeholder="Please enter the user name"></td>
                </tr>

                <tr>
                    <th>Password</th>
                    <td><input type="password" name="password" required placeholder="Please enter the password"></td>
                </tr>
            </tbody>

            <tfooter>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login" class="btn btn-success">
                    </td>
                    <td>
                        <input type="submit" value="Register" class="btn btn-primary" onclick="toTheRegister()">
                    </td>
                </tr>
            </tfooter>
        </table>
</form>
    </div>
</div>